<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homework1</title>
    <!-- Boostrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="root">
        <div class="formContainer">
            <form action="#" >
                <input type="text" placeholder="AUTHOR ID" v-model="author_id">
                <input type="text" placeholder="TITLE" v-model="title">
                <textarea name="" id="" cols="30" rows="3" placeholder="BODY" v-model="description">

                </textarea>
                <input   type="button" value="Add">
                <input type="button" value="Update">
            </form>
        </div>
        <div class="todoList">
            <div class="todo" v-for="(book, index) in books" :key="index">
                <div class="title">
                    <h3>Title: {{book.title}}</h3>
                </div>
                <p>AUTHOR ID: {{book.author_id}}</p>
                <p>Description: {{book.body}}</p>
                <p>Created on: {{book.created_at}}</p>
                <div>
                    <button >Delete</button>
                    <button >Edit</button>
                </div>
            </div>
        </div>
    </div>
</body>
<!-- Vue JS -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
<!-- Axios -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!-- JAVASCRIPT -->
<script src="script.js"></script>

</html>